a:link {
    color: white;
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: underline;
}

body, input[type=text], select, option, .content > form > input[type="submit"]{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.pre-header {
    background-color: black;
    position:fixed;
    top:0;
    width: 100%;
    height: 0.380in;
    z-index:1000;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.logo-panel {
    background-color: rgba(70, 70, 70, 0.7);
    height: 1in;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-panel > .panel {
    display: flex;
    padding: 0.1in;
}

.frase {
    align-self: flex-end;
    padding: 10px;
}

.small-logo {
    max-height: 40px;
    align-self: flex-end;
    
}

.panel > div {
    margin: auto;
    display: flex; 
    flex-direction: row;
    justify-content: left;
}

.panel > div > .button > .animation > .visible > input, #buttons .animation > .visible > input {
    position: absolute;
    top: -40px;
    width: 100%;
    height: 200%;
    opacity: 0;
}

#buttons > div {
    position: relative;
    margin: 0 20px;
    height: 35px;
    border: 0;
    overflow: hidden;
}

.panel > div > .button {
    position: relative;
    margin: 0 20px;
    height: 35px;
    border: 1px solid rgba(185, 182, 182, 0.9);
    overflow: hidden;
}

#buttons {
    display: flex;
    margin: auto;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}

.button > .text {
    position: absolute;
    margin: 5px 23px;
}

.button {
    position: relative;
    height: 35px;
    width: 120px;
}

.button > .animation {
    position: relative;
    height: 70px;
    width: 100%;
}

.button > .animation > .visible {
    position: relative;
    top: 35px;
    height: 35px;
    background-color: #dadada;
    padding: 3px;
    color: #4f4f4f;
}
.button > .animation:hover {
    animation: button-up 0.2s ease-out forwards;
}

@keyframes button-up {
    0% {top: 0px;}
    100% {top: -35px;}
}

.color-capture, #textHeader, #log-out {
    font-size: 22px;
    font-weight: 200;
    color: white;
}

#textHeader, #log-out {
    margin: auto 50px;
}

.header-item {
    margin-left: 0.4in;
}

.header-item:hover {
    font-weight: 200;
    color: white;
}

.header-item > img {
    height: 0.22in;
    vertical-align: middle;
}

.header-item > span {
    margin: 0.02in;
}

.text-faint {
    color: rgba(185, 182, 182, 0.9);
}

.void {
    height: 0.38in;
}

.find {
    height: 60%;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.capture {
    margin: 20px;
    
    font-size: 30px;
    font-weight: 200;
    color: black;
}
.load-photo > .capture {
    margin-bottom: 40px;
}
.find-panel {
    background-color: rgba(255, 255, 255, 0.4);
    height: 50px;
    width: 500px;
    border: 1px solid #808080;
}

.find-panel > .content
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
} 

.right-panel {
    border-left: 1px solid #808080;
    height: 100%;
    width: 250px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.find-loupe {
    max-height: 50px;
    background-color: #ffc300;
}

.find-arrow {
    max-height: 3px;
    margin: 5px;
}

input[type=text], select, .content > form > input[type="submit"]{
    border: none;
    background-color: transparent;
    padding: 0 20px;
    transition: 0.5s;

    height: 100%;
    width: 100%;
}

.wrapper input[type="submit"] {
    background: transparent;
}

input[type=submit] {
    
    border: none;
    height: 50px;
    width: 68px;
    background: url(../img/find.png) no-repeat;
    cursor: pointer;
}

select {
    padding-left: 5px;
    text-align: right;
}

.font-small {
    font-size: 16px;
}

input[type=text]:focus, select:focus, input[type=submit] {
    border: 0;
    background-color: rgba(255, 255, 255);
    outline: 0;
}

select option:hover {
    background-color: #dadada;
}

.header {
    background-image: url("../img/header.png");
    height: 5in;
}

.menue {
    background-color: #ffc300;
    height: 32px;;
    padding: 0px 30px;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.body {
    font-size: 100%;
}

.body > .center {
    margin: auto;
    width: 1110px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo-panel {
    margin: 0px 10px;
}

.photo-panel > .capture {
    margin: 20px 0 20px 0px;
    
    font-size: 30px;
    font-weight: 200;
    color: black;
}

.more-categories {
    margin-left: 30px;

    font-size: 40px;
    font-weight: 200;
    color: white;
}

.photo {
    display: flex;
    flex-direction: row;
    height: 80.6%;
}

.big {
    height: 298px;
    width: 295px;
    overflow: hidden;
}

.image-color-grey {
    background-color: #4f4f4f;

}

.big > img {
    height: 296px;
}

.center-text {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.small > img {
    max-height: 146px;
}

.small > .more-photos {
    width: 236px;
    height: 146px;

    font-size: 30px;
    margin-left: 0;
    width: 205px;
    padding-left: 30px;  
    
    background-color: #c4c4c4;
}

.text-black {
    color: black;
}

.small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
}

.center > .content {
    margin: auto;
    padding: 20px 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.center > .capture {
    margin: auto;
    padding-top: 20px;
}

.post {
    height: 400px;
    width: 534px;
    overflow: hidden;
    position: relative;

    margin-bottom: 20px;
}

.post > .photo {
    width: 534px;
    height: 334px;
}

@keyframes post-up {
    0% {
        top:0px;
    }
    100% {
        top: -334px;
    }
}

.post > .photo > img {
    max-height: 100%;
}

.information {
    background-color: #ffc300;
    height: 100%;

    position: relative;
    padding: 20px;
}

.information:hover {
    animation: post-up 1s ease-out forwards;
    animation-timing-function: cubic-bezier(0, 0, 0, 1)
}

.information .content {
    font-size: 30px;
    font-weight: 200;
    color: white;
}

.information .capture {
    font-size: 30px;
    font-weight: 200;
    color: black;

    margin: 0;
}

.information > div {
    margin-bottom: 20px;
}

.center .panel {
    margin: auto;
    margin-bottom: 10px;
}

.center .panel .button {
    width: 200px;
}

.center .panel .button .text {
    padding-left: 16px;
}

.center .panel .button .visible {
    padding-left: 42px;

}
.footer {
    background-color: #e9e9e9;
    height: 40px;
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}









.field {
    background-color: #f1f1f1;
    margin: auto;
    width: 70%;
    padding: 10px 0 20px 0;
    border: 1px solid #b48a00;
}

.wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 1s;
    background-color: #69696973;

    z-index: 100;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.flex-top {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
}

.content > form, .content > form > input[type="text"] , .content > form > input[type="submit"] {
    margin: 10px 0 20px 0;
}

.load-photo .content > form {
    margin:0;
}

.content > form > input[type="text"]{
    padding: 13px 10px;
    box-sizing: border-box;
    background-color: #b3b3b3;
}

label {
    display: block;
}

.content > form {
    width: 500px;
}

.log-in {
    width: 800px;
}



.content > form > input[type="text"]:focus {
    background-color: #ebebeb;
}

.content > form > input[type="submit"]:hover {
    background-color: #ffc300
}
.content > form > input[type="submit"]:focus {
    outline: none;
}


.content > form > input[type="submit"] {
    background-color: #b48a00;
}

.wrapper > .field > .capture > .capture-small {
    font-size: 18px;
    margin: 10px 0 20px 0;
} 

.content > form > input[type="submit"] {
    font-size: 30px;

    padding: 3px 10px;
    box-sizing: border-box;
}






.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.img > img {
    max-height: 300px;
    
}

.img {
    position: relative;
    margin-right: 40px;
    display: flex;
}

.load-photo {
    width: 1000px;
}

.flex-row > .img > .text {
    top: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
}

.flex-row > .img > .text > div {
    margin: auto;
    font-weight: 100;

}

.flex-row > .img > .text label {
    
    text-align: center;
    width: 100%;
    margin: auto;
}

.flex-row > .img > .text > input {
    opacity: 0;
    z-index: 100;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;;
}

.photo > .small > .color-white-grey {
    background-color: #f1f1f1;
}